<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Loan Applications</h4>
                    </div>
                    <div class="card-body">

                        <div class="row search-form-section">

                            <div class="col-2">
                                <button *ngIf="!(dataSource?.loading$ | async)" mat-button matPrefix mat-stroked-button aria-label="add new" (click)="addDialog()">
                                    <mat-icon>add</mat-icon>Add New
                                </button>
                            </div>

                            <div class="col-3">
                                <button *ngIf="!(dataSource?.loading$ | async)" mat-button matPrefix mat-stroked-button aria-label="Calculator" (click)="calculator()">
                                    <mat-icon>calendar_view_day</mat-icon>Calculator
                                </button>
                            </div>

                            <div class="col-7">
                                <mat-form-field class="search-form-field">
                                    <input matInput #search placeholder="Filter" autocomplete="off" [disabled]="meta?.total===0">
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="search.value" (click)="clearSearch()">
                                        <mat-icon>close</mat-icon></button>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="table-responsive">

                            <mat-table #table [dataSource]="dataSource" matSort matSortActive="application_date" matSortDirection="desc" matSortDisableClear>

                                <ng-container matColumnDef="application_date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.application_date_display}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loan_officer">
                                    <mat-header-cell *matHeaderCellDef> Officer </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.loanOfficer?.first_name}} ({{row.loanOfficer?.role?.display_name}})</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="member_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Member </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.member?.first_name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amount_applied">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount Applied </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.amount_applied_display}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loan_type_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.loanType?.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="repayment_period">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Repayment Period </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.repayment_period}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> Actions  </mat-header-cell>

                                    <mat-cell *matCellDef="let row" class="button-row">
                                        <button mat-raised-button type="button" matTooltip="Edit Loan Application" [matTooltipPosition]="'above'" (click)="editDialog(row)"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button routerLink="{{row.id}}" (click)="onSelected(row)" type="button"
                                                matTooltip="View Loan Application Details" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <mat-icon color="primary">visibility</mat-icon>
                                        </button>
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="openConfirmationDialog(row)">
                                                    <mat-icon color="warn">delete</mat-icon>
                                                    <span>Delete</span>
                                                </button>
                                            </mat-menu>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelected(row)"> </mat-row>
                            </mat-table>
                            <span *ngIf="meta?.total===0">No Data</span>

                            <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSource?.loading$ | async) || loader">
                                <mat-spinner [diameter]="40"></mat-spinner>
                            </div>

                            <mat-paginator #pagination
                                           [length]="meta?.total"
                                           [pageIndex]="pageIndex"
                                           [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
