<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-5">
                            <mat-form-field class="search-form-field" color="primary">
                                <mat-select placeholder="Branch" formControlName="branch_id" #branchSelect (selectionChange)="onBranchChange(branchSelect.value)">
                                    <mat-option *ngFor="let branch of branches" [value]="branch.id">
                                        {{branch.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </form>

                <div class="row search-form-section">
                    <div class="col-11">
                        <mat-form-field class="search-form-field">
                            <input matInput #search placeholder="Filter" autocomplete="off" [disabled]="meta?.total===0">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="search.value" (click)="clearSearch()">
                                <mat-icon>close</mat-icon></button>
                        </mat-form-field>
                    </div>
                </div>

                <div class="table-responsive">

                    <mat-table #table [dataSource]="dataSource" matSort matSortActive="account_number" matSortDirection="desc" matSortDisableClear>

                        <ng-container matColumnDef="account_number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.account_number}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="account_class_id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.accountType?.accountClass?.name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="account_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.account_display_name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="account_type_id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Account Type </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.accountType?.name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="balance">
                            <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.accountBalance}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> Statement  </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="button-row">
                                <span *ngIf="loader">-</span>

                                <ng-container *ngIf="!loader">
                                    <button mat-icon-button matTooltip="View Account Statement." [matTooltipPosition]="'above'" (click)="viewStatement(row)">
                                        <mat-icon color="primary">visibility</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Download Account Statement." [matTooltipPosition]="'above'" (click)="downloadStatement(row)">
                                        <mat-icon>cloud_download</mat-icon>
                                    </button>
                        </ng-container>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>

                    </mat-table>
                    <span *ngIf="meta?.total===0">No Data</span>

                    <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSource?.loading$ | async) || loader">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>

                    <mat-paginator #pagination
                                   [length]="meta?.total"
                                   [pageIndex]="pageIndex"
                                   [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                    </mat-paginator>

                </div>
            </div>
        </div>
    </div>

</div>
