<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-5">
                            <mat-form-field class="search-form-field" color="primary">
                                <mat-select placeholder="Branch" formControlName="branch_id" #branchSelect (selectionChange)="onBranchChange(branchSelect.value)">
                                    <mat-option *ngFor="let branch of branches" [value]="branch.id">
                                        {{branch.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="row search-form-section">
                    <div class="col-11">
                        <mat-form-field class="search-form-field">
                            <input matInput #search placeholder="Filter" autocomplete="off" [disabled]="meta?.total===0">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="search.value" (click)="clearSearch()">
                                <mat-icon>close</mat-icon></button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="table-responsive">
                    <mat-table #table [dataSource]="dataSourceScheduledDisbursement" matSort matSortActive="created_at" matSortDirection="desc" matSortDisableClear>
                        <ng-container matColumnDef="branch_id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Branch </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.branch?.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="mpesa_number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Mpesa Number </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.mpesa_number}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="created_by">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Created By </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.createdBy?.first_name}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayColumns;"> </mat-row>
                    </mat-table>
                    <span *ngIf="meta?.total===0">No Data</span>

                    <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSourceScheduledDisbursement?.loading$ | async) || loader">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>

                    <mat-paginator #pagination
                                   [length]="meta?.total"
                                   [pageIndex]="pageIndex"
                                   [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                    </mat-paginator>

                </div>
            </div>
        </div>
    </div>

</div>
