<h5 mat-dialog-title>Edit Expense</h5>

<div class="d-flex spinner-container" *ngIf="loader">
    <mat-spinner [diameter]="40"></mat-spinner>
</div>

<mat-dialog-content class="mat-dialog-data" [formGroup]="form"  (ngSubmit)="update()">

    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width" color="primary">
                <mat-select placeholder="Category" formControlName="category_id">
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.account_name}}
                    </mat-option>
                </mat-select>
                <mat-error align="start" *ngIf="formErrors?.category_id" class="form__error">{{ formErrors.category_id }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput type="number" min="0" formControlName="amount" placeholder="Amount">
                <mat-error align="start" *ngIf="formErrors?.amount" class="form__error">{{ formErrors.amount }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput formControlName="title" placeholder="Title">
                <mat-error align="start" *ngIf="formErrors?.title" class="form__error">{{ formErrors.title }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field  class="full-width">
                <input matInput [matDatepicker]="picker" formControlName="expense_date" placeholder="Expense Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error align="start" *ngIf="formErrors?.expense_date" class="form__error">{{ formErrors.expense_date }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <mat-form-field class="full-width"  color="accent">
        <textarea  formControlName="notes" matInput #notes placeholder="Extra Notes" maxlength="150" rows="3"></textarea>
        <mat-hint align="end">{{notes.value.length}} / 150</mat-hint>
        <mat-error align="start" *ngIf="formErrors?.notes" class="form__error">{{ formErrors.notes }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput formControlName="attachment" placeholder="Any Attachment">
        <mat-error align="start" *ngIf="formErrors?.attachment" class="form__error">{{ formErrors.attachment }}</mat-error>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="center" *ngIf="!loader">
    <button mat-button class="mat-raised-button" [mat-dialog-close]="true" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="update()" [disabled]="!form.valid">Update</button>
</mat-dialog-actions>
