<div class="main-content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title">{{current_branch?.name}}
                          <small></small>
                      </h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">business</i>
                          <a href="#">Branch</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title">{{count_members}} / {{count_loans}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">people</i> Members / Loans
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{count_loans_over_due}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i> Overdue Loans
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">{{countLoanApplications}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">attach_money</i> Pending Applications
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">

          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Due Today</h4>
                  </div>
                  <div class="card-body table-responsive">

                      <mat-table #table [dataSource]="loansDueTodayDataSource" matSort matSortActive="member_first_name" matSortDirection="desc" matSortDisableClear>

                          <ng-container matColumnDef="loan_officer">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Officer </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_officer_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_first_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_last_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_last_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_phone">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_phone}} </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="totalDue">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Due Amount </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.totalDue}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_reference_number">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_reference_number}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_type_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_type_name}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="loansDueColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: loansDueColumns;"> </mat-row>

                      </mat-table>

                  </div>

                  <div class="card-footer">
                      <div class="stats">

                          <ng-container *ngIf="count_loans_due_today > 0">
                               <button *ngIf="!loaderDueToday" mat-button matTooltip="Download Loans Due Today Report." [matTooltipPosition]="'above'" (click)="dueTodayReport()">
                                  <mat-icon color="accent">cloud_download</mat-icon>
                                   <span color="accent">Download Full Report. <strong><span color="accent"> - Total: {{count_loans_due_today}} </span></strong></span>
                              </button>
                              <div class="d-flex justify-content-center spinner-container" *ngIf="loaderDueToday">
                                  <mat-spinner [diameter]="20"></mat-spinner>
                              </div>
                          </ng-container>

                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Over Due</h4>
                  </div>
                  <div class="card-body table-responsive">

                      <mat-table #table [dataSource]="loansOverDueDataSource" matSort matSortActive="member_first_name" matSortDirection="desc" matSortDisableClear>

                          <ng-container matColumnDef="loan_officer">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Officer </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_officer_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_first_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_last_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_last_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_phone">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_phone}} </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="totalDue">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Due Amount </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.totalDue}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_reference_number">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_reference_number}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_type_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_type_name}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="loansDueColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: loansDueColumns;"> </mat-row>

                      </mat-table>

                  </div>

                  <div class="card-footer">
                      <div class="stats">
                      <ng-container *ngIf="count_loans_over_due > 0">
                          <button *ngIf="!loaderOverDue" mat-button matTooltip="Download Loans Over Due Report." [matTooltipPosition]="'above'" (click)="overDueReport()">
                              <mat-icon color="accent">cloud_download</mat-icon>
                              <span color="accent">Download Full Report <strong><span color="accent"> - Total: {{count_loans_over_due}} </span></strong></span>
                          </button>
                          <div class="d-flex justify-content-center spinner-container" *ngIf="loaderOverDue">
                              <mat-spinner [diameter]="20"></mat-spinner>
                          </div>
                      </ng-container>

                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">{{activeLoans}} / {{loansSum}}
                          <small></small>
                      </h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">attach_money</i>
                          <a href="#">Active Loans</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success">
                      <h4 class="card-title">{{loansSum}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">attach_money</i> Total Loans
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{totalOverDue}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i> Overdue Amount
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">{{countLoanApplications}} / {{applicationsSum}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">attach_money</i> Pending Applications
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
