<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="setup-container">

                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Signal Loans - Setup</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <p class="card-category justify-content-center"></p>
                                    <p class="card-category justify-content-center"> 1. We check server requirement.</p>
                                    <p class="card-category justify-content-center"> 2. We check directory permissions.</p>
                                    <p class="card-category justify-content-center"> 3. You provide database name, user and password.</p>
                                    <p class="card-category justify-content-center">  -  This MYSQL database should be created manually before this step.</p>
                                    <p class="card-category justify-content-center"> 4. A form to create your admin system user.</p>
                                </div>

                                <button class="alert alert-success" routerLink="start">
                                    When ready, Lets Start !!
                                </button>

                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>
