<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Loans</h4>
                    </div>
                    <div class="card-body">

                        <div class="row search-form-section">

                            <div class="col-12">
                                <mat-form-field class="search-form-field">
                                    <input matInput #search placeholder="Filter" autocomplete="off" [disabled]="meta?.total===0">
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="search.value" (click)="clearSearch()">
                                        <mat-icon>close</mat-icon></button>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="table-responsive">

                            <mat-table #table [dataSource]="dataSource" matSort matSortActive="loan_reference_number" matSortDirection="desc" matSortDisableClear>

                                <ng-container matColumnDef="loan_officer">
                                    <mat-header-cell *matHeaderCellDef> Officer </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.loanOfficer?.first_name}} ({{row.loanOfficer?.role?.display_name}})</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loan_reference_number">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Number </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-stroked-button color="primary"
                                                (click)="accountBalance(row)" type="button" matTooltip="View Loan Account Statement" [matTooltipPosition]="'above'" class="">
                                            {{row.loan_reference_number}}
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="member_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Member </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.member?.first_name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amount_approved">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.amount_approved|number:'1.2'}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loan_type_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.loanType?.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="balance">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Principal Bal </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.balance}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="next_repayment_date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Next Cycle </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.next_repayment_date}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amortization">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amortization </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="loader">-</span>

                                        <ng-container *ngIf="!loader">
                                            <button mat-raised-button type="button" matTooltip="View Amortization Schedule" [matTooltipPosition]="'above'"
                                                    (click)="amortizationDialog(row)" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">attach_money</i>
                                            </button>
                                            <button mat-button matTooltip="Download Amortization Schedule." [matTooltipPosition]="'above'" (click)="downloadAmortization(row)">
                                                <mat-icon>cloud_download</mat-icon>
                                            </button>
                                        </ng-container>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> Actions  </mat-header-cell>

                                    <mat-cell *matCellDef="let row" class="button-row">
                                        <span *ngIf="loader">-</span>

                                        <ng-container *ngIf="!loader">
                                            <button mat-raised-button routerLink="{{row.id}}" (click)="onSelected(row)" type="button" matTooltip="View Loan Details" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <mat-icon color="primary">visibility</mat-icon>
                                            </button>
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item matTooltip="Download Loan Statement." [matTooltipPosition]="'above'" (click)="downloadStatement(row)">
                                                    <mat-icon color="primary">picture_as_pdf</mat-icon>
                                                    <span>Statement</span>
                                                </button>
                                            </mat-menu>
                                        </ng-container>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelected(row)"> </mat-row>
                            </mat-table>
                            <span *ngIf="meta?.total===0">No Data</span>

                            <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSource?.loading$ | async) || loader">
                                <mat-spinner [diameter]="40"></mat-spinner>
                            </div>

                            <mat-paginator #pagination
                                           [length]="meta?.total"
                                           [pageIndex]="pageIndex"
                                           [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
